# component information
scripts/*
src/*
tb/*

# build results
target_sim
.deps
logs
__pycache__

# hwsim externals
hwsim/platforms/stm32_maple_mini/lib_stm32

# eclipse
.cproject
.project
.settings

# hwsim binaries
hwsim/platforms/*/.dep
hwsim/platforms/*/obj
hwsim/platforms/*/*.bin
hwsim/platforms/*/*.elf
hwsim/platforms/*/*.hex
hwsim/platforms/*/*.lss
hwsim/platforms/*/*.map
hwsim/platforms/*/*.sym

# hwsim example altera project
hwsim/examples/vhdl_test_validation/db
hwsim/examples/vhdl_test_validation/incremental_db
hwsim/examples/vhdl_test_validation/output_files
