# component information
scripts/*
src/*
tb/*

# build results
target_sim
.deps
logs
__pycache__

# hwsim externals
hwsim/platforms/hwsim_stm32_maple_mini/lib_stm32

# eclipse
.cproject
.project
.settings

# hwsim binaries
hwsim/platforms/hwsim_*/.dep
hwsim/platforms/hwsim_*/obj
hwsim/platforms/hwsim_*/*.bin
hwsim/platforms/hwsim_*/*.elf
hwsim/platforms/hwsim_*/*.hex
hwsim/platforms/hwsim_*/*.lss
hwsim/platforms/hwsim_*/*.map
hwsim/platforms/hwsim_*/*.sym

# hwsim example altera project
hwsim/examples/vhdl_test_validation_*/db
hwsim/examples/vhdl_test_validation_*/incremental_db
hwsim/examples/vhdl_test_validation_*/output_files
hwsim/examples/vhdl_test_validation_*/*.qws
